/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$font-title:    'Lato';
$primary-color: #064159;
$font-content: 'DroidSerif';

* {
  box-sizing:border-box;
}

header {
  height: 20%;
}

body {
  width: 100%;
}

.lancaster-logo {
  background-color: #ffab00;
  font-size: 21px;
  text-align: left;
  font-family: $font-title;
  color: $primary-color;
  padding: 22px 94px 21px 24px;
  font-weight: 900;
}

.tech {
  font-weight: normal;
  color: $primary-color;
  line-height: 1.29px;
  letter-spacing: 2.1px;
}

.flat-navigation {
  background-color: #ffab00;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: $font-title;
  font-size: 12px;
  font-weight: bold;
  color: #72261d;
}

.space {
  letter-spacing: 0.8px;
  padding: 10px 10px 10px 10px;
}

.title {
  background-image: url("../images/homepage.jpg");
  height: 400px;
  width: 100%;
}

.title-text {
  color: white;
  font-family: $font-title;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: 1.8px;
  text-align: left;
  color: #efe9d8;
  width: 50%;
  padding: 58px 49px 50px 27px;
}

.body-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -40px;
}

.section-one-container {
  width: 45%;
  background-color: #ffc400;
  padding: 55px 33px 20px 27px;
}

.started {
  font-family: $font-content;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: 0.9px;
  color: #4e1c07;
}

.strived {
  font-family: $font-content;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c;
  margin-top: 40px;
}

.growth {
  font-family: $font-content;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c;
  margin-top: 20px;
}

.section-two-container {
  height: 50%;
  background-color: #ffc400;
  padding: 120px 38px 60px 26px;
}

.upcoming-meetup {
  font-family: $font-title;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #eb503c;
  padding-bottom: 10px;
}

.first-date {
  font-family: $font-content;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.52;
  letter-spacing: 1px;
  color: #4c1a14;
}

.second-date {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.78;
  letter-spacing: 0.9px;
}

.third-date {
  font-weight: bold;
  line-height: 2.25;
  color: #4e1c07;
}

.visit-site, .rsvp {
  font-weight: bold;
  line-height: 2.25;
  color: #4e1c07;
}

footer {
  display: flex;
}

.twitter, .copyright-logo {
  font-family: $font-title;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: center;
  color: #6f8998;
  display: flex;
}

.copyright {
  padding: 60px 100px;

}

.contribute {
  padding-bottom: 20px;
  height: 50px;
  width: 90%;
  margin-bottom: 30px;
  background-color: #eb503c;
}
.contribute {
  font-family: $font-content;
  font-size: 15px;
  font-weight: bold;
  line-height: 3.83;
  letter-spacing: 0.9px;
  text-align: center;
  color: #efe9d8;
}
.join-us {
  padding-bottom: 20px;
  height: 50px;
  width: 90%;
  margin-bottom: 30px;
  background-color: #eb503c;
}
.join-us {
  font-family: $font-content;
  font-size: 15px;
  font-weight: bold;
  line-height: 3.83;
  letter-spacing: 0.9px;
  text-align: center;
  color: #efe9d8;
}

.meetups {
  height: 50%;
  background-color: #ffc400;
}
.meetup-list {
  list-style: none;
  width: 259px;
  height: 321px;
  font-family: $font-content;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: left;
  color: #4c1a14;
}
.meetups-container {
  padding: 50px;
}
.meetups-header {
  width: 140px;
  height: 11px;
  font-family: $font-title;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #eb503c;
  padding-bottom: 40px;
}

.core-values {
  height: 300px;
}
.core-values-container {
  padding-left: 20px;
}
.core-values-heading {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #4e1c07;
  padding-top: 40px;
  padding-bottom: 30px
}
.core-value-mini-heading {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.9px;
}
.core-values-text {
  font-family: $font-content;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c;
}
.tech-lanc-transparent {
  padding-bottom: 20px;
}

.on-this-page {
  width: 38%;
  border-left: 2px solid red;
  padding-left: 20px;

}
.on-this-page-header {
  font-family: $font-title;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #eb503c;
  padding-bottom: 10px;
}
.on-this-page-listed-item {
  font-family: $font-content;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 1px;
  text-align: left;
  color: #4c1a14;
}
.on-this-page-list {
  list-style: none;
}

.core-purpose {
  height: 200px;
  background-color: #e8c99d;
}
.core-purpose-heading {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #4e1c07;
  padding-bottom: 20px;
}
.core-purpose-text {
  font-family: $font-content;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c;
}
.core-purpose-container {
  padding: 30px;
}

.code-of-ethics {
  height: 1100px;
}
.code-of-ethics-container {
  padding-left: 15px;
  padding-right: 15px;
}
.ethics-list {
  font-family: $font-content;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c;
  list-style: decimal;
  padding-left: 30px;

}
.code-of-ethics-heading {
  font-family: $font-content;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #4e1c07;
  padding-bottom: 20px;
  padding-top: 20px;
}
.lancaster-tech-expects {
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: $font-content;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c;
}
.lancaster-tech-reserves {
  font-weight: bold;
  font-style: italic;
  line-height: 1.75;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #4e1c07;
}

.principles {
  height: 150px;
  margin-left: 20px;
}
.principles-header {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #4e1c07;
}
.principles-item {
  font-family: $font-content;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c;
}
